---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import { Image } from "astro:assets";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate!.valueOf() - a.data.pubDate!.valueOf(),
);
---

<!doctype html>
<html lang="en" data-theme="nord-dark">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-base-100 text-base-content">
		<Header />
		<main class="container mx-auto max-w-6xl px-4 py-10">
			<div class="text-center mb-10">
				<h1 class="text-4xl md:text-5xl font-bold text-primary">
					Blog Posts
				</h1>
				<div class="divider divider-primary w-1/2 mx-auto"></div>
			</div>

			<section>
				<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
					{
						posts.map((post, index) => (
							<a
								href={`/blog/${post.id}/`}
								class={`card card-compact bg-base-100 shadow-lg hover:shadow-xl transition-shadow`}
							>
								<figure class="relative">
									{post.data.heroImage && (
										<Image
											width={720}
											height={360}
											src={post.data.heroImage}
											alt=""
											class="w-full h-56 md:h-72 object-cover"
										/>
									)}
								</figure>
								<div class="card-body">
									<h2 class="card-title text-2xl">
										{post.data.title}
									</h2>
									<div class="flex items-center gap-2">
										<div class="badge badge-primary">
											<FormattedDate
												date={
													post.data.pubDate ??
													new Date()
												}
											/>
										</div>
									</div>
								</div>
							</a>
						))
					}
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
